@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ======== BASE ======== */
:root {
    --light-background: rgb(215, 214, 215);
    --light-main-background: rgb(240, 240, 242);
    --light-card-background: rgb(255, 255, 255);
    --light-input-background: rgb(226, 224, 224);
    --light-button-background: rgb(228, 228, 228);
    --box-shadow-card:rgba(0, 0, 0, 0.15) 2.5px 2.5px 5px;
    --total-profit-background: rgb(35, 34, 34);
    --table-header-color: rgb(142, 141, 141);
    --table-borderbottom-color: rgb(221, 221, 221);
    --table-row-color: rgb(242, 239, 239);
    --delete-button-background: rgb(244, 87, 87);

}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-background);
}
