@import './base.css';


a {
  text-decoration: none;
  transition: 0.4s;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media (hover: hover) {
  a:hover {
    background-color: #ddd;
    color: black;
  }

  nav a.router-link-active,
  nav a.router-link-exact-active {
    background-color: #04AA6D;
    cursor: pointer;
  }
  
}


#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 2em;
  background: var(--light-main-background);
  box-shadow: var(--box-shadow-card);
  border-radius: 2.5em;
  width: 60em;
  height: auto;
  padding-bottom: 1.2em;
}
